<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.MeetingRoomMapper">

    <select id="getMeetingRoomName" parameterType="com.wf.ew.system.model.MeetingRoom" resultType="java.lang.Integer">
        select id from meeting_room
        where 1 =1
        <if test="meetingRoomName != null and  meetingRoomName !=''">
                and meeting_room_name = #{meetingRoomName}
        </if>
        <if test="createId != null  and createId !=''">
            AND create_id = #{createId}
        </if>
    </select>

    <select id="getPageMeetingRoom"  parameterType="java.lang.String" resultType="com.wf.ew.system.model.ex.MeetingRoomEx">

        SELECT
              GROUP_CONCAT(re.equiment_id) as equimentIds,
              re.meetroom_id as meetRoomId ,
              GROUP_CONCAT(re.counts) as counts,
              GROUP_CONCAT(e.equipment_name) as equipmentNames ,
              r.meeting_room_name as meetingRoomName,
              r.meeting_room_peoples as meetingRoomPeoples
            FROM
              room_equiment re
            LEFT JOIN equipment e ON e.id = re.equiment_id
            LEFT JOIN meeting_room r ON r.id = re.meetroom_id
            WHERE 1 = 1   and   r.id IS not null 
            <if test="meetingRoomName != null and  meetingRoomName !=''">
                and meeting_room_name = #{meetingRoomName}
            </if>
            GROUP BY r.meeting_room_name

    </select>

</mapper>