<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.system.dao.MeetingRoomMapper">

    <select id="getMeetingRoomName" parameterType="com.wf.ew.system.model.MeetingRoom" resultType="java.lang.Integer">
        select id from meeting_room
        where 1 =1
        <if test="meetingRoomName != null and  meetingRoomName !=''">
                and meeting_room_name = #{meetingRoomName}
        </if>
        <if test="createId != null  and createId !=''">
            AND create_id = #{createId}
        </if>


    </select>
</mapper>